body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  /*-webkit-font-smoothing: antialiased;*/
  /*border: 1px solid red;
  height: 100%;*/
  /*-moz-osx-font-smoothing: grayscale;*/
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.App {
  display: flex;
  flex-direction: row;
  height: 100%;
  border: 2px solid black;
 
  width: auto;
}

.intro {
  /*display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 960px;
  height: 944px;*/
  width: 50%;
  background-color: white;

  
}

.first-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
  
}

#myName {
  /*border: 1px solid purple;*/
  width: 100%; 
  text-align: center;
  font-size: 36px;
  /*margin-bottom: 20px;*/ /* Add margin to separate #myName from #skills-cert */
}

#skills-cert {
  display: flex;
  justify-content: space-evenly;
  width: 100%; /* Set the width to 100% to ensure it spans the entire width of the parent container */
}

.skills{
  width:55%;
}

.cert{
  width:40%;
}

.skills,
.cert {
  /*flex: 1;*/ /* Distribute the available space equally between .skills and .cert */
  /*margin: 0 10px;*/ /* Add margin for spacing between .skills and .cert */
  border: 1px black solid;
  font-size: 10px;
  font-weight: 600;
  box-shadow: 7px 10px 2px 1px rgb(237, 237, 237);
  
}



li{
  list-style: none;
  text-decoration: none;
  margin: 0 1%;
  line-height: 35px;
  
}

/*second half*/

.projects{
  
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Space evenly between child elements vertically */
  /*width: 960px;
  height: 944px;*/
  width:50%;
  background-color: rgb(123, 123, 180);
}

#plinks{
  display: flex;
  justify-content: end;
  /*width: 817px;
  height: 317px;*/
}

.blackCirlce{
  display: flex;
  width: 80px;
  height: 80px;
  background-color: black;
  color:white;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 100%;
  margin: 0 1px;

}



/*.projects{
  height: 871px;
  width: 960px;
  
}*/

.p-Grid {
  display: flex;
  /*width: 960px;*/
  width: 100%;
  border: 1px dashed black;
}

.pPic {
  width: 200px;
}

.pPic img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the entire container */
}

.pText-Repo {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Aligns the paragraphs with space between them */
}

.pText-Repo p:last-child {
  text-align: center;
}






footer{
  width: 100%;
  height:133px;
  background-color: black;
}

