

.App {
  
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  height: 100vh;
  
  /*border: 2px solid black;*/

}

.intro {
  /*display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 960px;
  height: 944px;*/
  width: 50%;
 

  
}

.first-container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content:space-evenly;
  align-items: center;
  
}

#myName {
  /*border: 1px solid purple;*/
  width: 100%; 
  text-align: center;
  font-size: 36px;
  /*border: 1px solid black;*/

  
  
  /*margin-bottom: 20px;*/ /* Add margin to separate #myName from #skills-cert */
}

#skills-cert {
  display: flex;
  justify-content: space-around;
  width: 100%; /* Set the width to 100% to ensure it spans the entire width of the parent container */
  
  /*border: 1px solid black;*/

}

.skills{
  width:45%;
}

.cert{
  width:45%;
}

.skills,
.cert {
  /*flex: 1;*/ /* Distribute the available space equally between .skills and .cert */
  /*margin: 0 10px;*/ /* Add margin for spacing between .skills and .cert */
  border: 1px black solid;
  font-size: 12px;
  font-weight: 700;
  box-shadow: 7px 10px 2px 1px rgb(237, 237, 237);
  overflow-x:hidden;
  
}



 li{
  /*display: flex;
  text-wrap: wrap;*/
  list-style: none;
  text-decoration: none;
  margin: 0 1%;
  line-height: 25px;
  
}

/*second half*/

.projects{
  
  display: flex;
  flex-direction: column;
  justify-content: space-around; /* Space evenly between child elements vertically */
  align-items: center;
  /*width: 960px;
  height: 944px;*/
  
  width:50%;
}

#plinks{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  /*width: 817px;
  height: 317px;*/
}

.blackCirlce{
  display: flex;
  width: 70px;
  height: 65px;
  background-color: black;
  color:white;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  margin: 0 1px;

}



/*.projects{
  height: 871px;
  width: 960px;
  
}*/

.p-Grid {
  display: flex;
  /*border: 1px solid red;*/
  text-align: center;
  justify-content: space-evenly;
  /*width: 960px;*/
  width: 100%;
  /*border: 1px solid blue;*/
  
  
  
}

.p-Grid  a{
  color: orange;
}

.pPic {
  display: flex;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
  /*border: 1px solid red;*/
  margin: 3%;
 
  box-shadow: 7px 10px 2px 1px rgb(237, 237, 237);

}

.pPic img {
  /*border: 1px dashed blue;*/
 
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the entire container */
 
}

.pText-Repo {
  display: flex;
  width: 50%;
  flex-direction: column;
  font-weight: 600;
  font-size: 12px;
  justify-content: space-evenly;
  
  /*justify-content: space-between;*/ /* Aligns the paragraphs with space between them */
}

/*.pText-Repo p:last-child {
  text-align: center;
}*/






/*footer{
  width: 100%;
  height:133px;
  background-color: black;
}*/



/*Add a media query for screens larger than 900px */
@media screen and (min-width: 900px) {
  .App {
    max-width: 750px; /* Adjust as needed */
  }
  
  .App {
    margin: 0 auto; /* Center the content wrapper horizontally */
  }
}



/* Add a media query for screens below 400px */
@media screen and (max-width: 750px) {
  .App {
    display: flex;
    flex-direction: column; /* Stack components vertically by default */
    margin: 0; /* Remove margin to utilize full screen width */
    /*border: 1px solid rgb(30, 0, 255);*/
    height: auto;
    max-width: 100%; /* Adjust width to utilize full screen width */
  }

  /*#myname{
    order: 1;
  }

  #plinks{
    order:2;
  }*/

  .projects{
    order: 1; /* Display projectsComp above introComp */
    width: 70%;
  }

  .intro{
    order:2;
    width: 100%;
   /* height: 100%;*/


  }

  .first-container{
    margin-top: 5%;
  }

 #myName{
    font-size: 0px;
  }
  
  #skills-cert{
    
    max-width: 85%;
    margin-bottom: 5%;
  }


  .skills,
  .cert {
      /*border:none;*/
      box-shadow: none;
      line-height: 1px;
     
      
  }



 
  
 
}
